#portfolio {
    padding-top: 5rem;
    padding-bottom: 15rem;
}

.portfolio__container { 
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transisiton);
    width: 350px;
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.portfolio__graph-image{
    border-radius: 1.5rem;
    overflow: hidden;
    width: 70%;
    margin-left: 40px;
    margin-bottom: 30px;
}

.portfolio__devops-image{
    border-radius: 1.5rem;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 37px;
}


.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1;
    margin-bottom: 1rem;
}

.portfolio__item-btn {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}


@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }
    
}